/* bikin garis arsir (hatch) */
.striped {
  background-image: repeating-linear-gradient(45deg,
      /* sudut garis */
      black 0 1px,
      /* warna garis */
      transparent 4px 8px
      /* jarak antar garis */
    );
}

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

.noto1 {
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto2 {
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* animasi */
@layer utilities {
      /* Kiri atas → tengah */
      @keyframes line-left-top {
        from { x2: 0; y2: 0; opacity: 0; }
        to   { x2: 400; y2: 200; opacity: 1; }
      }
      .animate-left-top {
        animation: line-left-top 1s ease-out forwards;
      }

      /* Kiri bawah → tengah */
      @keyframes line-left-bottom {
        from { x2: 0; y2: 400; opacity: 0; }
        to   { x2: 400; y2: 200; opacity: 1; }
      }
      .animate-left-bottom {
        animation: line-left-bottom 1s ease-out forwards;
      }

      /* Kanan atas → tengah */
      @keyframes line-right-top {
        from { x1: 800; y1: 0; opacity: 0; }
        to   { x1: 400; y1: 200; opacity: 1; }
      }
      .animate-right-top {
        animation: line-right-top 1s ease-out forwards;
      }

      /* Kanan bawah → tengah */
      @keyframes line-right-bottom {
        from { x1: 800; y1: 400; opacity: 0; }
        to   { x1: 400; y1: 200; opacity: 1; }
      }
      .animate-right-bottom {
        animation: line-right-bottom 1s ease-out forwards;
      }
    }